URxvt.termName:         rxvt-256color
URxvt.font:             xft:Ubuntu Mono:size=12
URxvt.perl-ext-common:  default,matcher
URxvt.urlLauncher:      qutebrowser
URxvt.matcher.button:   1
URxvt.scrollstyle:      plain
URxvt.saveLines:        4095

!Disables the insanely annoying Ctrl+Shift shortcut that enters ISO14755 mode
URxvt.iso14755:         False

! --- special colors ---
*background: #0e0e0e
*foreground: #d9d9d9

! --- standard colors ---
! black
*color0: #0e0e0e

! bright_black
*color8: #3a3a3a

! red
*color1: #e41d38

! bright_red
*color9: #f4a4af

! green
*color2: #38e41d

! bright_green
*color10: #aff4a4

! yellow
*color3: #e4c91d

! bright_yellow
*color11: #f4e9a4

! blue
*color4: #1d38e4

! bright_blue
*color12: #a4aff4

! magenta
*color5: #c91de4

! bright_magenta
*color13: #e9a4f4

! cyan
*color6: #1de4c9

! bright_cyan
*color14: #a4f4e9

! white
*color7: #d9d9d9

! bright_white
*color15: #ffffff
