/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */
 
/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */


/* Reset all styles */

* {
    color: @foreground;
    border: 0;
    border-radius: 0;
    padding: 0 10px;
    font-family:"JetBrainsMono NFP", monospace;
    font-weight: bold;
    font-size: 14px;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
   }

@import url("./dracula-at-night.css");

window#waybar {
	background: @background-darker;
	color: @pink;
/* or cyan, green, orange, pink, red, yellow, foreground, background-darker etc. */
}

#workspaces button {
    border-bottom: 2px;
    border-color: @comment;
    border-style: solid;
    margin-top:2px;
    padding: 0;
}

#workspaces button.focused {
    border-color: @pink;
}

#mode {
    color: #ebcb8b;
}

#clock, #battery, #cpu, #memory,#idle_inhibitor, #temperature,#custom-keybindings-hint, #backlight, #network, #pulseaudio, #mode, #tray, #window,#custom-launcher,#custom-power,#custom-pacman, #custom-network-traffic {
    border-bottom: 2px;
    border-style: solid;
}
 
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

 
#clock {
 color: @foreground;
}

#backlight {
    color: #ebcb8b;
}

#battery {
    color: #d8dee9;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color:@orange;
}

#memory {
    color:@orange;
}

#network.disabled {
    color:#bf616a;
}

#network{
    color:@yellow;
}

#network.disconnected {
    color: #bf616a;
}

#custom-network-traffic {
    color: @green;
}

#pulseaudio {
    color: @cyan;
}

#pulseaudio.muted {
    color: @cyan;
}

#temperature {
    color: #8fbcbb;
}

#temperature.critical {
    color: #bf616a;
}

#idle_inhibitor {
   color: @pink;
}

#tray {
    color: @purple;
}

#custom-launcher,#custom-power{
    border-style: hidden;
    margin-top:2px;    
}

#window{
    border-style: hidden;
    margin-top:1px;  
}    
#mode{
    margin-bottom:3px;
}

#custom-keybindings-hint{
   color:@red;
}   



